.container {
  max-width: 400px;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 8px;
}

.info {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name {
  margin: 0 auto;
  font-weight: 700;
  color: black;
  font-size: large;
}

.text {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #807b7b;
}

.list {
  list-style: none;
  padding-left: 0;
  border-top: 2px solid #807b7b;
  background-color: #beb8b8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 131px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.liStyle span:last-child {
  font-weight: bold;
}

.liStyle:not(:last-child) {
  border-right: 2px solid #807b7b;
}

.img {
  border-radius: 50%;
  background-color: #131212;
  width: 120px;
  display: block;
  margin: 0 auto;
}
